body{
    font-family: Arial, Helvetica, sans-serif;
}
.header, .content, .sidebar, .footer{
    padding: 1%;
    margin: 1%;
}
.header{
    border: 1px solid red;
}
.content{
    position: relative;
    right: 50%;
    position: absolute;
    float:left;
    
    border: 1px solid green;
}
.sidebar{
   position: relative; 
   left:50%;
   position: absolute;
   float: right;
    border: 1px solid  blue;
}
.footer{
    position: absolute;
    bottom: 30%;

    border: 1px solid purple;
}

