body{
    font-family: Arial, Helvetica, sans-serif;
}
.header, .content, .sidebar, .footer{
    padding: 1%;
    margin: 1%;
}
.header{
    border: 1px solid red;
}
.content{
    
  position: absolute;

  right: 50%;

  /* float: left; */
    
    border: 1px solid green;
}
.sidebar{
   
  
   position: absolute;
   
   left: 50%;

   /* float: right; */
    border: 1px solid  blue;
}
.footer{

    position: relative;
    top: 200px;

    border: 1px solid purple;
}

